%h2 NicoFiveとは

%p 所々の事情により公式ではサポートされない、ニコニコ動画HTML5版プレーヤーを提供します。

%p また、プレーヤーをHTML5化するにあたり、以下様々な機能が削減されており、本家プレーヤーとの互換性はほぼありません。「オレは動画が再生できて初音ミクをｈｓｈｓできればそれでいい」というような<ruby>猛<rt>病</rt>者<rt>人</rt></ruby>の方以外は利用しない方がよいかと思われます。

%p また、開発者の都合により動作保証環境が極端に制限されています。ご了承ください。肝心の動作保証環境は以下の通りです。

%ul
  %li その時製作者のブラウザに入っているGoogle Chromeのバージョン

%p 他ブラウザについては動作を保証しません。どうしても使いたい、サポートしてくれ、どう考えてもバグだろこれ。といった状況については気が向いたら対応しますので、メールをください。<a href="mailto:nicofive@aduca.org">宛先はこちら</a>

%h2 インストール

%p 以下のユーザースクリプトをインストールしましょう。幸せになれるかもしれませんしね。

%P <strong>現在ベータ版です。バグが出てもしったことではありませんし機能もありません。無効化するときは、/watch/sm9?nofive=1 とURLパラメータをつけましょう！</strong>

%p <a href="/install.user.js">インストール</a>

%h2 Issueで投げたり、forkしたい人むけ

%p Githubにソースコードがあります。→<a href="https://github.com/rosylilly/nicofive">rosylilly/nicofive</a>
