!!!
%html
  %head
    %meta(charset='utf-8')
    %title Nicofive
    %link{rel: 'stylesheet', type: 'text/css', href: stylesheet_path('index')}
    %script(type="text/javascript")
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29871938-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    %h1 NicoFive
    %p.subtitle Fast, Rich and Modern Player for <a href="http://www.nicovideo.jp/">NicoNicoDouga</a>

    = yield
