
@mixin round($radius)
  border-radius: $radius
  -webkit-border-radius: $radius
  -moz-border-radius: $radius

body
  background: white
  color: #333

#PAGEHEADER
  margin-bottom: 50px

  #head_search_form
    float: right

#PAGEBODY
  position: relative

  #player 
    position: relative
    margin-bottom: 20px
    padding: 1px 0 4px 0
    background: black
    @include round(4px)

    video
      display: block
      margin: 0 auto
      padding: 0
      width: 640px
      height: 368px
      -webkit-transition: all linear 0.1s

    &.fullscreen

      video
        width: 982px
        height: 553px

      #controls a#fullscreen
        opacity: 0.3

    #loading
      position: absolute
      display: block
      width: 15px
      height: 15px
      top: 50%
      left: 50%
      margin: -7.5px 0 0 -7.5px

    #controls
      position: absolute
      width: 100%
      height: 23px
      bottom: 0
      background: rgba(0,0,0,0.8)
      -webkit-transition: all linear 0.1s
      @include round(0 0 4px 4px)

      #seek_base
        position: absolute
        height: 3px
        top: 0
        width: 100%
        -webkit-transition: all linear 0.1s

        &:hover, &.seeking
          height: 15px
          top: -12px

        #seek_loaded, #seek_current
          position: absolute
          height: 100%
          top: 0
          opacity: 0.7

        #seek_loaded
          background: white

        #seek_current
          background: #4682b4
      
      a, span 
        display: inline-block
        position: absolute
        bottom: 0
        width: 30px
        height: 20px
        background: no-repeat center center
        -webkit-transition: all linear 0.1s

        &#play, &#pause
          width: 60px
          left: 0

        &#play
          background-image: url('http://nicofive.heroku.com/assets/play.png')

        &#pause
          background-image: url('http://nicofive.heroku.com/assets/pause.png')

        &#first
          left: 60px
          background-image: url('http://nicofive.heroku.com/assets/first.png')

        &#time
          left: 130px
          font-size: 6px
          font-family: monospace
          line-height: 20px
          vertical-align: center
          width: auto
          color: white

        &#volume
          left: 90px
          background-image: url('http://nicofive.heroku.com/assets/volume.png')
          background-position: 7px center 
          overflow: hidden

          &.active
            background-image: url('http://nicofive.heroku.com/assets/volume_mute.png')

          &:hover, &.voluming
            width: 150px

            & + span#time
              left: 250px

          #volume_base
            left: 45px
            width: 90px

            #volume_bar, #volume_current
              top: 8px
              left: 0
              height: 4px

            #volume_bar
              width: 90px
              background: gray

            #volume_current
              background: #4682b4

        &#loop
          right: 30px
          background-image: url('http://nicofive.heroku.com/assets/loop.png')

          &.active
            opacity: 0.3

        &#fullscreen
          right: 0
          background-image: url('http://nicofive.heroku.com/assets/fullscreen.png')

    &.controls_hidden
      #controls
        height: 3px
        overflow: hidden

        #seek_loaded, #seek_current
          @include round(0 0 4px 4px)

        a, span
          bottom: -20px

    &.controls_hidden:hover
      #controls
        height: 23px
        overflow: visible

        #seek_loaded, #seek_current
          @include round(0)

        a, span
          bottom: 0

  #info
    float: left
    width: 50%
  
    h1
      position: absolute
      margin: 0
      padding: 10px 10px 
      top: 0
      background: rgba(0,0,0,0.6)
      color: white
      font-size: 16px
      @include round(4px 0 4px 0)

    p
      padding: 0 10px
      font-size: 12px

  #options
    width: 50%
